# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# 
#
# Files ending in .sec are "security" files that contain credentials and
# shouldn't be checked into Git(hub)
*.sec
#
# No need to check in compiled Python files
*.pyc
#
# No need to check in database state files
*.db
